In [1]:
myset={"apple","banana","cherry"}
print(type(myset))

<class 'set'>

In [4]:
# duplicates not contain
myset={"apple","banana","cherry","apple"}
print(myset)

{'apple', 'banana', 'cherry'}

In [6]:
print(myset)

{'apple', 'banana', 'cherry'}

In [7]:
print(myset)

{'apple', 'banana', 'cherry'}

In [10]:
# True or 1 same and False or 0 same
myset={"apple","banana","cheery","joy",True,1,0,False}
print(myset)

{0, True, 'apple', 'joy', 'banana', 'cheery'}

In [11]:
print(len(myset))

6

In [12]:
myset={"apple","banana","cheery","joy",True,1,0,False}
print(len(myset))

6

In [14]:
myset=("apple","banana","cheery")
y=set(myset)
print(y)

{'apple', 'banana', 'cheery'}

In [1]:
myset={"arman","joy","nehal","arhan","nehal"}
print(type(myset))

<class 'set'>

In [2]:
print(myset) #set don't allowed dupplicates

{'arman', 'joy', 'arhan', 'nehal'}

In [3]:
print(myset)

{'arman', 'joy', 'arhan', 'nehal'}

In [4]:
print(myset)

{'arman', 'joy', 'arhan', 'nehal'}

In [5]:
print(myset)

{'arman', 'joy', 'arhan', 'nehal'}

In [6]:
myset={'arman', 'joy', 'arhan', 'nehal'}
print(myset)

{'arman', 'joy', 'arhan', 'nehal'}

In [7]:
fruits={"banana","cherry","kiwi","mango"}
print(fruits)  #sets are unordered

{'kiwi', 'mango', 'banana', 'cherry'}

In [8]:
myset={"banana","cherry","kiwi","mango",True,0,1,False}
print(myset)   #True and 1 is the same in set also False and 0,thats why its counts a duplicate item

{0, True, 'kiwi', 'banana', 'mango', 'cherry'}

In [9]:
myset={"apple","banana","cherry","mango","kiwi",True,0}
print(len(myset))  #to see how many items in the set  use len() function

7

In [10]:
myset={"abc","40","arman",True,0,1,30}
print(myset)

{0, True, '40', 'abc', 'arman', 30}

In [11]:
mytuple=("arman","joy","nehal","pritam")
print(set(mytuple))  #set constructor

{'pritam', 'arman', 'joy', 'nehal'}

In [12]:
myset={"arman","joy","nrhal"}
print(type(myset))

<class 'set'>

In [13]:
myset={29,49,495,"arman","koli","nehal",True,False}
print(myset)

{False, True, 'nehal', 495, 49, 'arman', 'koli', 29}

In [16]:
myset={29,49,495,"arman","koli","nehal",True,False,0,1,"arman"}
print(myset)

{False, True, 'nehal', 495, 49, 'arman', 'koli', 29}

In [17]:
print(len(myset))

8

In [18]:
yourtuple=("arman","joy","nehal","pritam")
print(set(yourtuple))

{'pritam', 'arman', 'joy', 'nehal'}