In [1]:
# tuple type
newtuple=("apple","banana","cherry","kiwi")
print(type(newtuple))

<class 'tuple'>

In [2]:
newtuple[2]="mango"
print(newtuple)

TypeError: 'tuple' object does not support item assignment

In [3]:
newtuple=("apple","banana","cherry","kiwi")
print(newtuple[2])

cherry

In [4]:
print(newtuple[-2])

cherry

In [9]:
newtuple=("appple","cherry","banana","kiwi","mango")
print(newtuple[1:5])

('cherry', 'banana', 'kiwi', 'mango')

In [11]:
newtuple=("apple","banana","mango","kiowi","cherry","melon")
print(newtuple[2:6])

('mango', 'kiowi', 'cherry', 'melon')

In [1]:
newtuple=("apple","banana","cherry")
print(type(newtuple))

<class 'tuple'>

In [2]:
newtuple=("apple","banana","cherry")
print(newtuple[2])

cherry

In [3]:
newtuple=("apple","banana","cherry")
newtuple[1]="kiwi"
print(newtuple)

TypeError: 'tuple' object does not support item assignment

In [5]:
newtuple=("apple","banana","cherry","kiwi","mango")
print(newtuple[1:5])

('banana', 'cherry', 'kiwi', 'mango')

In [6]:
newtuple=("apple","banana","cherry")
print(type(newtuple))

<class 'tuple'>

In [8]:
newtuple=("apple","banana","cherry","kiwi","mango")
print(newtuple[3])

kiwi

In [9]:
print(newtuple[2:6])

('cherry', 'kiwi', 'mango')

In [1]:
mytuple=("joy","nehal",100,True,False)
print(type(mytuple))

<class 'tuple'>

In [2]:
mytuole=("arman","joy",200,True)
print(mytuole[1])

joy

In [4]:
print(mytuole[3])

True

In [6]:
print(mytuole[-2])

200

In [7]:
print(mytuole[-4])

arman

In [10]:
# range of indexes
mytuple=("arman","joy","pritam","nehal","arhan",200,400,600,True,False,"kiwi")
print(mytuple[2:6])

('pritam', 'nehal', 'arhan', 200)

In [12]:
mytuple=("arman","joy","pritam","nehal","arhan",200,400,600,True,False,"kiwi",[2,3,4])
print(mytuple[3:12])

('nehal', 'arhan', 200, 400, 600, True, False, 'kiwi', [2, 3, 4])

In [13]:
print(type(mytuple))

<class 'tuple'>

In [14]:
print(mytuple[9])

False

In [17]:
print(mytuple[0:12])

('arman', 'joy', 'pritam', 'nehal', 'arhan', 200, 400, 600, True, False, 'kiwi', [2, 3, 4])

In [18]:
print(mytuple[4:8])

('arhan', 200, 400, 600)