In [1]:
# add items
tuplelist=("apple","banana","melon")
y=list(tuplelist)
y.append("orange")
x=tuple(y)
print(x)

('apple', 'banana', 'melon', 'orange')

In [3]:
newtuple=("appple","banana","mango")
y=list(newtuple)
y.append("newtuple")
x=tuple(y)
print(x)

('appple', 'banana', 'mango', 'newtuple')

In [4]:
# change items
tuplelist=("apple","banana","melon")
y=list(tuplelist)
y[2]="orange"
x=tuple(y)
print(x)

('apple', 'banana', 'orange')

In [5]:
y=list(tuplelist)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'melon')

In [10]:
# add tuple to a tuple
newtuple=("apple","banana","melon")
y=("orange",)
newtuple+=y
print(newtuple)

('apple', 'banana', 'melon', 'orange')

In [11]:
newtuple=("apple","banana","melon")
y=("orannge",)
newtuple+=y
print(newtuple)

('apple', 'banana', 'melon', 'orannge')

In [17]:
# remove tuple
newtuple=("appple","banana","melon")
y=list(newtuple)
y.remove("banana")
newtuple=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'orange')

In [18]:
newtuple=("apple","banana","melon")
y= list(newtuple)
y.remove("melon")
newtuple=tuple(y)
print(newtuple)

('apple', 'banana')

In [19]:
thistuple=("apple","banana","orange")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'orange')

thistuple=("apple","banana","melon")
y=list(thistuple)
y.remove("apple")
x=tuple("y")
print(x)

In [20]:
newtuple=("apple","banana","melon")
y = list(newtuple)
y.remove("apple")
x = tuple(y)
print(x)

('banana', 'melon')

In [21]:
# delete tuple completely
newtuple=("apple","banana","melon")
del newtuple
print(newtuple)

NameError: name 'newtuple' is not defined

In [22]:
thistuple=("apple","banana","melon")
y=list(thistuple)
y.remove("apple")
x=tuple(y)
print(x)

('banana', 'melon')

In [3]:
newtuple=("applle","banana","cherry")
y=list(newtuple)
y[2]="kiwi"
newtuple=tuple(y)
print(newtuple)

('applle', 'banana', 'kiwi')

In [4]:
y=list(newtuple)
y[1]="kola"
x=tuple(y)
print(x)

('applle', 'kola', 'kiwi')

In [5]:
tuplelist=("apple","banana","cherry")
y=list(tuplelist)
y.append("orange")
x=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'orange')

In [23]:
y=list(tuplelist)
y.remove("orange")
x=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'kiwi')

In [14]:
tuplelist=("apple","banana","cherry")
tuple2=("orange","kiwi")
tuplelist += tuple2
print(tuplelist)

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [15]:
mytuple=(2,3,4,"jpu",False)
hertuple=("orange","niki")
mytuple+=hertuple
print(mytuple)

(2, 3, 4, 'jpu', False, 'orange', 'niki')

In [16]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'cherry')

In [1]:
# change tuple
newtuple=("arman","joy","nehal",500)
y=list(newtuple)
y[2]="pritam"
x=tuple(y)
print(x)

('arman', 'joy', 'pritam', 500)

In [2]:
newtuple=("arman","joy","nehal",500)
y=list(newtuple)
y[3]="pritam"
x=tuple(y)
print(x)

('arman', 'joy', 'nehal', 'pritam')

In [3]:
# add item in the tuple using append() method
mytuple=("srt","mtr","ntr","rtr")
y=list(mytuple)
y.append("utr")
x=tuple(y)
print(x)

('srt', 'mtr', 'ntr', 'rtr', 'utr')

In [4]:
newtuple=("arman","joy","nehal",500)
y=list(newtuple)
y.append("pritam")
x=tuple(y)
print(x)

('arman', 'joy', 'nehal', 500, 'pritam')

In [5]:
# join tuple
mytuple=("arman","joy","nehal")
newtuple=("pritam","arhan")
mytuple+=newtuple
print(mytuple)

('arman', 'joy', 'nehal', 'pritam', 'arhan')

In [7]:
print(mytuple)

('arman', 'joy', 'nehal', 'pritam', 'arhan')

In [8]:
t=("arman","joy",500)
y=("nehal",1000)
t+=y
print(t)

('arman', 'joy', 500, 'nehal', 1000)

In [9]:
ty=("arman","joy","arhan","nehal")
x=list(ty)
x.remove("nehal")
tr=tuple(x)
print(tr)

('arman', 'joy', 'arhan')

In [12]:
new=("arman","joy","nehal","pritam")
y=list(new)
y.remove("pritam")
x=tuple(y)
print(x)

('arman', 'joy', 'nehal')

In [13]:
new=("arman","joy","nehal","pritam")
y=list(new)
y.remove([3])
x=tuple(y)
print(x)

ValueError: list.remove(x): x not in list

In [14]:
# delete the tuple completly using del keyword
new=("arman","joy","nehal","pritam")
del new
print(new)  #error asbe karon tuple delete hoye gece

NameError: name 'new' is not defined

In [15]:
# multiply tuple
newtuple=("arman","joy","nehal","pritam")
print(newtuple*3)

('arman', 'joy', 'nehal', 'pritam', 'arman', 'joy', 'nehal', 'pritam', 'arman', 'joy', 'nehal', 'pritam')

In [16]:
print(newtuple*2)

('arman', 'joy', 'nehal', 'pritam', 'arman', 'joy', 'nehal', 'pritam')