In [1]:
myset={"apple","banana","cherry"}
myset.add("orange")
print(myset)

{'cherry', 'apple', 'banana', 'orange'}

In [2]:
myset.add("papaya")
print(myset)

{'orange', 'apple', 'banana', 'papaya', 'cherry'}

In [3]:
myset={"apple","banana","cherry"}
thisset={"kiwi","payaya","mango"}
myset.update(thisset)
print(myset)

{'cherry', 'payaya', 'mango', 'apple', 'banana', 'kiwi'}

In [4]:
myset.update(thisset)
print(myset)

{'payaya', 'mango', 'apple', 'banana', 'kiwi', 'cherry'}

In [5]:
myset={"apple","banana","cherry"}
tuplelist=("mango","kiwi")
myset.update(tuplelist)
print(myset)

{'mango', 'apple', 'banana', 'kiwi', 'cherry'}

In [10]:
myset={"kiwi","mango","lichi"}
mylist=["apple","banana","cherry"]
mytuple=("tiger","lion","cat")
myset.update(mytuple)
print(myset)

{'tiger', 'mango', 'kiwi', 'lichi', 'lion', 'cat'}

In [1]:
myset={"arman","nehal","pritam","joy","arhan"}
myset.add("kiara")
print(myset)

{'pritam', 'joy', 'nehal', 'kiara', 'arman', 'arhan'}

In [2]:
myset={"apple","banana","cherry","kiwi","lichi"}
myset.add("watermalon")
print(myset)

{'banana', 'apple', 'watermalon', 'kiwi', 'lichi', 'cherry'}

In [4]:
myset={"arman","nehal","arhan","pritam","joy"}
yourset={"kiara","porimoni","mrunal","anuska"}
myset.update(yourset)
print(myset)

{'porimoni', 'joy', 'nehal', 'anuska', 'arman', 'mrunal', 'pritam', 'kiara', 'arhan'}

In [5]:
myset={"arman","joy","nehal"}
mal=["mrunal",38,"kiara","36"]
myset.update(mal)
print(myset)

{'joy', 38, 'nehal', 'arman', 'mrunal', 'kiara', '36'}

In [6]:
myset={"arman","joy","nehal"}
myset.add("pritam")
print(myset)

{'arman', 'pritam', 'joy', 'nehal'}

In [7]:
myset={"arman","joy","nehal"}
yourset={"kiara","porimoni","mrunal","anuska"}
myset.update(yourset)
print(myset)

{'porimoni', 'joy', 'nehal', 'anuska', 'arman', 'kiara', 'mrunal'}