In [1]:
# using remove() method
myset={"apple","banana","cherry","kiwi"}
myset.remove("cherry")
print(myset)

{'kiwi', 'apple', 'banana'}

In [2]:
thisset={"apple","cherrry","kiwi"}
thisset.remove("mango")
print(thisset)

KeyError: 'mango'

In [3]:
# using discard() method
thisset={"apple","banana","kiwi","mango"}
thisset.discard("cherry")
print(thisset)

{'kiwi', 'mango', 'apple', 'banana'}

In [6]:
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [5]:
thisset={"apple","cherry","kiwi","banana"}
thisset.discard("kiwi")
print(thisset)

{'apple', 'cherry', 'banana'}

In [7]:
# using pop() method
thisset={"apple","cherry","banana","kiwi"}
thisset.pop()
print(thisset)

{'apple', 'cherry', 'banana'}

In [9]:
thisset={"apple","banana","cherry"}
thisset.pop()
print(thisset)

{'cherry', 'banana'}

In [11]:
# using clear()method
thisset={"apple","banana","cherry","kiwi"}
thisset.clear()
print(thisset)

set()

In [12]:
thisset={"apple","banana","cheryy"}
thisset.clear()
print(thisset)

set()

In [13]:
# using del keyword
thisset={"apple","cherry","manna"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [1]:
myset={"arman","joy","nehal","pritam","arhan"}
myset.remove("nehal")
print(myset)

{'joy', 'arhan', 'arman', 'pritam'}

In [2]:
myset={"arman","joy","nehal","pritam","arhan"}
myset.remove("kiara")
print(myset)  #kiara doesn't exist in the set

KeyError: 'kiara'

In [6]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.discard("pritam")
print(myset)

{'nehal', 'joy', 'arhan', 'arman'}

In [8]:
myset.discard("kiara")
print(myset)

{'nehal', 'joy', 'arhan', 'arman'}

In [11]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.discard("kiara")
print(myset)  # discard() method will not arise a error

{'nehal', 'joy', 'arhan', 'arman', 'pritam'}

In [10]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.pop()
print(myset)  #pop()method will remove a randoom item

{'joy', 'arhan', 'arman', 'pritam'}

In [13]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.clear()
print(myset)

set()

In [14]:
myset={"arman","joy","nehal","arhan","pritam"}
 del myset
print(myset)

IndentationError: unexpected indent (552749822.py, line 2)

In [15]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.remove("nehal")
print(myset)

{'joy', 'arhan', 'arman', 'pritam'}

In [16]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.remove("kiara")
print(myset)

KeyError: 'kiara'

In [17]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.discard("arhan")
print(myset)

{'nehal', 'joy', 'arman', 'pritam'}

In [18]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.discard("kiara")
print(myset)

{'nehal', 'joy', 'arhan', 'arman', 'pritam'}

In [19]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.pop()
print(myset)

{'joy', 'arhan', 'arman', 'pritam'}

In [20]:
myset={"arman","joy","nehal","arhan","pritam"}
myset.clear()
print(myset)

set()

In [21]:
myset={"arman","joy","nehal","arhan","pritam"}
del myset
print(myset)

NameError: name 'myset' is not defined