In [1]:
# union () method
set1={"apple","banana","cherry"}
set2={"pori","kajol","kiara","purnima"}
set3=set1.union(set2)
print(set3)

{'cherry', 'pori', 'kajol', 'purnima', 'apple', 'kiara', 'banana'}

In [2]:
# we can also use | operator instead of union() method for join set with set
set1={"apple","banana","cherry"}
set2={"pori","kajol","munal","kiara"}
set3=set1|set2
print(set3)

{'cherry', 'pori', 'kajol', 'apple', 'kiara', 'munal', 'banana'}

In [4]:
set1={"apple","banana","cherry","kiwi"}
set2={"pori","kajol","kiara"}
set3={"arman","monir","masum"}
set4={"neha","priyanka","shreya"}
myset=set1.union(set2,set3,set4)
print(myset)

{'cherry', 'shreya', 'monir', 'arman', 'apple', 'kiara', 'banana', 'kiwi', 'neha', 'pori', 'priyanka', 'kajol', 'masum'}

In [5]:
myset=set1|set2|set3|set4
print(myset)

{'cherry', 'shreya', 'monir', 'arman', 'apple', 'kiara', 'banana', 'kiwi', 'neha', 'pori', 'priyanka', 'kajol', 'masum'}

In [6]:
set11={"appple","banana","cheerry"}
mytuple=("a","b","c")
mylist=(2,3,4)
myset=set11.union(mytuple,mylist)
print(myset)

{2, 3, 4, 'a', 'b', 'banana', 'cheerry', 'c', 'appple'}

In [7]:
# update method
set1={"apple","banana","cherry"}
set2=(1,2,3,44)
set1.update(set2)
print(set1)

{'cherry', 1, 2, 3, 'apple', 44, 'banana'}

In [8]:
set1={"apple","banana"}
set2={"kiwi","kola"}
set3={"kiara","ami"}
set1.update(set2,set3)
print(set1)

{'ami', 'kola', 'apple', 'kiara', 'banana', 'kiwi'}

In [9]:
set1={"apple","banana","cherry"}
set2={"kiara","munal"}
set3=(2,33,4,45,3000)
set1.update(set2,set3)
print(set1)

{'cherry', 2, 4, 33, 'apple', 'kiara', 'munal', 45, 'banana', 3000}

In [13]:
set1={"apple","bannan"}
set2={"ami","tmi"}
set3=(3,4,5)
myset=set1.union(set2,set3)
print(myset)

{3, 'bannan', 4, 5, 'apple', 'tmi', 'ami'}

In [14]:
# intersection method
set1={"apple","banana","cherry"}
set2={"ami","apple","kiara"}
set3=set1.intersection(set2)
print(set3)

{'apple'}

In [15]:
# we can use & operator instead of intersection method
set1={"apple","banana","cherry"}
set2={"munal","neha","cherry"}
set3=set1&set2
print(set3)

{'cherry'}

In [17]:
set1={"apple","banana","cherry"}
set2={"munal","rani","cherry","apple"}
set3=("apple","tmi","kiara")
set4=["apple","banana"]
myset=set1.intersection(set2,set3,set4)
print(myset)

{'apple'}

In [19]:
set1={"apple","banana","cherry"}
set2=("munal","pori","banana")
set3=[2,3,4,"banana"]
set4={"banana","kola"}
myset=set1.intersection(set2,set3,set4)
print(myset)

{'banana'}

In [20]:
# difference method
set1={"apple","banana","cherry"}
set2=("pori","banana","kola")
set3=["apple","banana","mai"]
myset=set1.difference(set2,set3)
print(myset)

{'cherry'}

In [24]:
# we can use - operator instead of differrence method for joining set with set
set1={"apple","banana","cheryy"}
set2={"apple","fb","microsoft"}
myset=set1-set2
print(myset)

{'cheryy', 'banana'}

In [1]:
set1={"apple","banana","cherry","kiwi"}
set2={"arman","joy"}
set3={"arhan","nehal","pritam"}
myset=set1.union(set2,set3)
print(myset)

{'nehal', 'arhan', 'cherry', 'joy', 'banana', 'kiwi', 'apple', 'pritam', 'arman'}

In [2]:
set1={"apple","banana","cherry","kiwi"}
set2={"arman","joy"}
set3={"arhan","nehal","pritam"}
myset=set1|set2|set3
print(myset)

{'nehal', 'arhan', 'cherry', 'joy', 'banana', 'kiwi', 'apple', 'pritam', 'arman'}

In [5]:
set1={"apple","banana","cherry","kiwi"}
set2={"arman","joy"}
set3={"arhan","nehal","pritam"}
mytuple=("nrhal","pritam","arhan")
myset=set3.union(mytuple)
print(myset)

{'pritam', 'nehal', 'arhan', 'nrhal'}

In [11]:
set1={"apple","banana","cherry","kiwi"}
set2={"arman","joy"}
set3={"arhan","nehal","pritam"}
mytuple=("nrhal","pritam","arhan")
myset=set3.union(mytuple)
print(myset)

{'pritam', 'nehal', 'arhan', 'nrhal'}

In [12]:
set3={"arhan","nehal","pritam"}
mytuple=("nrhal","pritam","arhan")
set3.union(mytuple)
print(x)

{'pritam', 'nehal', 'arhan', 'nrhal'}

In [13]:
set3={"arhan","nehal","pritam"}
mytuple=("nrhal","pritam","arhan")
x=set3.update(mytuple)
print(x)

None

In [1]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
uset=myset.union(set2,set3)
print(uset)

{'apple', 'nehal', 'cherry', 'joy', 'banana', 'watermalon', 'arman'}

In [6]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
uset=myset|set2|set3
print(uset)

{'apple', 'nehal', 'cherry', 'joy', 'banana', 'watermalon', 'arman'}

In [4]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
myset.update(set2,set3)
print(myset)

{'apple', 'nehal', 'cherry', 'joy', 'banana', 'watermalon', 'arman'}

In [9]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry","arman"}
set3={"arman","banana","watermalon"}
iset=myset.intersection(set2,set3)
print(iset)

{'arman'}

In [10]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
iset=myset.intersection(set2,set3)
print(iset)  #3tar modde common nai tai faka set ans

set()

In [11]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
iset=myset&set2&set3
print(iset)  #& is the sort for intersection method

set()

In [15]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry","arman"}
set3={"arman","banana","watermalon"}
iset=myset.intersection_update(set2,set3)
print(iset)

None

In [17]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
dset=myset.difference(set2,set3)
print(dset) #difference taka iteam from the 1st set those are not found in other set

{'nehal', 'joy'}

In [22]:
myset={"arman","joy","nehal","arhan","pritam"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon","joy"}
dset=myset.difference(set2,set3)
print(dset)

{'nehal', 'arhan', 'pritam'}

In [19]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
dset=myset-set2-set3
print(dset)  #we can use - instead of difference method

{'nehal', 'joy'}

In [28]:
# Symmetric difference
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
set4=set2.symmetric_difference(set3)
print(set4) #symmetric_difference take all the iteams accept duplicates

{'apple', 'cherry', 'watermalon', 'arman'}

In [31]:
myset={"arman","joy","nehal"}
set2={"apple","banana","cherry"}
set3={"arman","banana","watermalon"}
syset=myset.symmetric_difference(set3,set2)
print(syset)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)