In [5]:
def my_function(name,subject):
 print(f"my name is {name}")
 print(f"my fevarite subject is {subject}")
my_function("Arman","BME")

my name is Arman
my fevarite subject is BME

In [6]:
def my_function(a,b):
    sum=a+b
    print(sum)
my_function(20,30)

50

In [7]:
def my_function(a,b,c):
    sum=a+b+c
    print(sum)
my_function(10,20,30)

60

In [9]:
def my_function(a,b,c,d):
    sum=a+b+c+d
    print(sum)
my_function(10,20,30,40)

100

In [10]:
def my_function(a,b,c,d):
    minus=a-b-c-d
    print(minus)
my_function(10,20,30,40)

-80

In [11]:
def my_function(a,b,c,d):
    multiply=a*b*c*d
    print(multiply)
my_function(10,20,30,40)

240000

In [12]:
def my_function(a,b,c,d):
    division=a/b/c/d
    print(division)
my_function(300,400,30,200)

0.000125

In [13]:
def my_function():
    print("hello from a function")
my_function()

hello from a function

In [19]:
def my_function(fname):
    print(fname + " refsnes")
my_function("emil")
my_function("tobias")
my_function("linus")

emil refsnes
tobias refsnes
linus refsnes

In [20]:
def my_function(fname):
    print(fname + " renses")
my_function("emil")

emil renses

In [23]:
def my_function(fname):
    print("my name is {name}")
my_function("khan")

my name is {name}

In [24]:
# sob ceye sundur upay
def my_function(fname,fsubject,fdept):
    print("my name is " +fname)
    print("my subject name is "+fsubject)
    print("my dept is "+fdept)
my_function("Arman","biomedical","engineering")

my name is Arman
my subject name is biomedical
my dept is engineering

In [26]:
# ata o dekhte hobe valo kore
def my_function(fname,fsubject,funiversity):
  print(f"my name is {fname} and my subject is {fsubject} and i am studying in {funiversity}")  
my_function("arman","biomedical engineering","islamic university")

my name is arman and my subject is biomedical engineering and i am studying in islamic university

In [28]:
def my_function(fname,lname):
    print(fname+" "+lname)
my_function("arman","joy")

arman joy

In [35]:
def my_function(fname,lname):
    print(fname+" "+lname)
my_function("arman","joy")

arman joy

In [41]:
def my_function(fname,fdept):
    print("hi "+fname)
    print("is your department "+fdept+"?")
my_function("jenny","cs")

hi jenny
is your department cs?

In [45]:
def my_function(name,dept):
    print(f"hi {name}")
    print(f"are you from {dept}?")
my_function("jenny","CS")

hi jenny
are you from CS?

In [46]:
def my_function(name,dept):
    print(f"hi {name}")
    print(f"are you from {dept} department?")
my_function(name="jenny",dept="cs")

hi jenny
are you from cs department?

In [47]:
def my_function(name,dept):
    print(f"hi {name}")
    print(f"are you from {dept} department?")
my_function(name="jenny","cs")

SyntaxError: positional argument follows keyword argument (3051960676.py, line 4)

In [50]:
def my_function(name,dept):
    print("hi "+name)
    print(f"are you from {dept} department?")
my_function("jenny",dept="cs")

hi jenny
are you from cs department?

In [53]:
def my_function(name,dept="cs"):
    print("hi {name}")
    print(f"are you from {dept} department?")
my_function("honery")

hi {name}
are you from cs department?

In [59]:
def my_function(name,subject,dept="cse"):
    print(f"hi {name}")
    print(f"do you teach {subject}")
    print(f"are you from {dept} department?")
my_function("jenny","python")

hi jenny
do you teach python
are you from cse department?

In [61]:
my_function("jenny","haha")

hi jenny
do you teach haha
are you from cse department?

In [62]:
my_function("jenny")

TypeError: my_function() missing 1 required positional argument: 'subject'

In [63]:
def my_function(name,dept="cse",suject):
    print(f"hi {name}")
    print(f"are you from {dept} department?")
    print(f"do you teach {subject}?")
    my_function("jenny","bme","paython")

SyntaxError: non-default argument follows default argument (1453675095.py, line 1)

In [66]:
# defalt argument follows non default argument
def my_function(name,subject,dept="cse"):
    print(f"hi {name}")
    print(f"are you from {dept} department?")
    print(f"do you teach {subject}?")
my_function("jenny","python","BME")

hi jenny
are you from BME department?
do you teach python?

In [3]:
# arbitrary argument(*args)
def my_function(*kids):
    print("first child is "+kids[2])
my_function("toma","juma","lina")

first child is lina

In [7]:
# arbitrary keyword argument(**kwargs)
def my_function(**kids):
    print("her last name is "+kids["lname"])
my_function(fname="lima",lname="akter")

her last name is akter

In [12]:
# passing a list as an argument
def my_function(food):
    for i in food:
     print(i)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [13]:
# normal for loop hole ja kortam
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [17]:
def my_function(food):
    for i in food:
        print(i)
    fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [18]:
# return values
def my_function(x):
    return 5*x
print(my_function(4))
print(my_function(5))
print(my_function(6))

20
25
30

In [19]:
def my_function(x):
    return 8*x
print(my_function(5))
print(my_function(9))
print(my_function(10))

40
72
80

In [26]:
# positional only argument
def my_function(x,/):
    print(x)
my_function(43)

43

In [24]:
# positional only argument
def my_function(x):
    print(x)
my_function(3)

3

In [27]:
def my_function(x,/):
    print(x)
my_function(x=3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

In [30]:
# keyword only argument
def my_function(*,x):
    print(x)
my_function(x=30)

30

In [31]:
def my_function(x):
    print(x)
my_function(x=3)

3

In [32]:
def my_function(*,x):
    print(x)
my_function(4)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [40]:
# combine positional only and keyword only arument
def my_function(a,b,/,*,c,d):
    print(a+b+c+d)
my_function(5,6,c=10,d=9)

30