In [1]:
# a set of characters[]
import re
text="The rain im the Spain"
#find all the lower case characters alphabetically between "a" and "m".
x=re.findall("[a-m]",text)
print(x)

['h', 'e', 'a', 'i', 'i', 'm', 'h', 'e', 'a', 'i']

In [5]:
import re
text="The rain in the Spain"
x=re.findall("[d-s]",text)
print(x)

['h', 'e', 'r', 'i', 'n', 'i', 'n', 'h', 'e', 'p', 'i', 'n']

In [6]:
import re 
text="The rain in the Spain"
x=re.findall("[a-z]",text)
print(x)

['h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 't', 'h', 'e', 'p', 'a', 'i', 'n']

In [7]:
# \ signals a special sequence(can also be used to escape special characters) ="\d"
import re
text="there is 59 dollars"
x=re.findall("\d",text)
print(x)

['5', '9']

In [8]:
import re
text="there is 59 dollars"
x=re.findall("\d",text)
print(x)

['5', '9']

In [9]:
# . any character (except newline character)"he..o"
import re
text="hello planet"
#search for a sequence that starts with "he",followed by two(any) characters,and an "o"
x=re.findall("he..o",text)
print(x)

['hello']

In [10]:
import re
text="hello planet"
x=re.findall("pl...t",text)
print(x)

['planet']

In [11]:
import re
text="hello planet"
x=re.findall("h...o",text)
print(x)

['hello']

In [12]:
# ^ starts with:"^hello"
    import re
text="hello planet"
#check if the string start with 'hello':
x=re.findall("^hello",text)
if x:
    print("yes,the string start with hello")
else:
    print("no match")

yes,the string start with hello

In [13]:
import re
text="hello planet"
x=re.findall("^hello",text)
if x:
    print("yes,the string start with hello")
else:
    print("no match")

yes,the string start with hello

In [14]:
import re
text="ami planet"
x=re.findall("^hello",text)
if x:
    print("yes,the string start with hello")
else:
    print("no match")

no match

In [15]:
# $ ends with:"planets$"
import re 
text="hello planet"
# check if the string ends with planets
x=re.findall("planet$",text)
if x:
    print("yes,the string ends with planet")
else:
    print("no match")

yes,the string ends with planet

In [17]:
import re 
text="hello planet"
x=re.findall("hello$",text)
if x:
    print("yes,the string ends with planet")
else:
    print("no match")

no match

In [18]:
# * zero or more occurrences "he.*o"
import re
text="hello planet"
# search for a sequence that starts with "he",followed by 0 or more(any) characters,and an "o"
x=re.findall("he.*o",text)
print(x)

['hello']

In [19]:
# + one or more occurrances "he.+o"
import re
text="hello planet"
# search for a sequences that starts with "he",followed by one or more(any) characters,and an "o"
x=re.findall("he.+o",text)
print(x)

['hello']

In [21]:
import re
text="hello planet"
x=re.findall("he.+o",text)
print(x)

['hello']

In [22]:
import re 
text="hello planet"
x=re.findall("he.*o",text)
print(x)

['hello']

In [24]:
# ? zero or one occurrances "he.?o"
import re
text="hello planet"
x=re.findall("he.?0",text)
print(x) #this time we got no match,because there were not zero,not one,but two characters between "he" and the "o"

[]

In [25]:
import re 
text="hello planet"
x=re.findall("hel?o",text)
print(x)

[]

In [26]:
# {} exectlly the specified number of occurrances "he.{2}o"
import re
text="hello planet"
#search for a sequence that starts with "he",followed exectly 2(any) characters,and an "o":
x=re.findall("he.{2}o",text)
print(x)

['hello']

In [27]:
import re
text="hello planet"
x=re.findall("he.{2}o",text)
print(x)

['hello']

In [28]:
# | either or:"falls|stays"
import re
text="The rain in the Spain falls mainly in the plain!"
# check if the string contains either "falls" or "stays"
x=re.findall("falls|stays",text)
if x:
    print("yes,there is at least one match")
else:
    print("no match")

yes,there is at least one match

In [30]:
import re 
text="The rain in the spain stays mainly in the plain"
x=re.findall("falls|down",text)
if x:
    print("yes,there is at least one match")
else:
    print("ofs sorry there is no match")

ofs sorry there is no match

In [31]:
import re
text="The rain in the Spain"
x=re.findall("ai",text)
print(x)

['ai', 'ai']

In [32]:
import re
text="the rain in the spain"
x=re.search("\s",text)
print("the white space character is located in position:",x.start())

the white space character is located in position: 3

In [33]:
import re
text="the rain in the spain"
x=re.search("\s",text)
print("the white space character is located in position:",x.start())

the white space character is located in position: 3

In [34]:
import re
text="the rain in the spain"
x=re.search("portugal",text)
print(x)

None

In [35]:
# split() function
import re 
text="the rain in the spain"
x=re.split("\s",text)
print(x)

['the', 'rain', 'in', 'the', 'spain']

In [36]:
import re
text="the rain in the spain"
x=re.split("\s",text,2)
print(x)

['the', 'rain', 'in the spain']

In [37]:
import re
text="the rain in the spain"
x=re.split("\s",text,1)
print(x)

['the', 'rain in the spain']

In [40]:
# the sub() function
import re
text="the rain in in the spain"
# replace all the white space characters with the digit "9"
x=re.sub("\s","9",text)
print(x)

the9rain9in9in9the9spain

In [41]:
import re 
text="the rain in the spain"
x=re.sub("\s","10",text)
print(x)

the10rain10in10the10spain

In [42]:
import re
text="the rain in the spain"
x=re.sub("\s","10",text,2)
print(x)

the10rain10in the spain

In [43]:
import re
text="the rain in the spain"
x=re.sub("\s","10",text,2)
print(x)

the10rain10in the spain